* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*
.container {
  display: flex;
} */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.mainNav {
  display: flex;
  flex-direction: row;
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.bookCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.progress {
  display: flex;
  flex-direction: row;
}
